@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/*custom scroll bar */
::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav{
 
  display: flex;
  height: 80px;
  width: 100%;
  /*background: #1b1b1b;*/
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  transition: all 0.3s ease;
z-index: 999;
}

nav:hover{
  background: #1b1b1b;
  overflow-y: hidden;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-top: 10px;
}

nav .logo img{
  height: 60px;
  width: 60px;
}


nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}

/* navbar sticky */

nav.sticky{
    background: crimson;
}

nav .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
nav .sticky .logo a span{
    color: #fff;
}

nav .sticky .menu li a:hover{
    color: #fff;
}







.main{
  overflow: auto;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  
}

section{
  width: 100%;
  height: 100vh;
  border-bottom: solid 1px #000;
  background-repeat: no-repeat;
  background-position: center;

  scroll-snap-align: start;
  scroll-snap-stop: always;


}

section:nth-child(1){
  /*background: url("images/HomeFindLambo.png") no-repeat center;*/
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}


.urus{
  background: url("images/UrusBW.png") no-repeat center;
  min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-position: 55%;
}

.aventador{
  background: url("images/AventadorBW.png") no-repeat center;
  min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-position: 55%;
}


.aventador .text-1{

  font-size: 20px;
}

.huracan{
  background: url("images/HuracanBW.png") no-repeat center;
  min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-position: 55%;
}

.LS{
  background: url("images/LSBW.png") no-repeat center;
  min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-position: 55%;
}

.Motorsport{
  background: url("images/MotorsportBW.png") no-repeat center;
  min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-position: 55%;
}

.LS .home-content .text-2{
  width: 50%;
}

.content h1{
  font-size: 90px;
  font-weight: 800px;
  line-height: 1;
  letter-spacing: -3px; 
  
}

.content p{
  line-height: 1.5;
  font-size: 20px;
  max-width: 700px;
  
}


/* all similar content styling codes */
.max-width{
    
    padding: 0 80px;
    margin: auto;
}


/* home section styling */
.home{
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    transition: 500ms;
}

.home .Find{
  /*background: url("images/HomeFindLambo.png") no-repeat center;*/

}



.Find .back-video video{
  object-fit: cover;
}

.back-video{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

video{
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
}

@media (max-aspect-ratio: 16/9){
  .back-video{
    width: 100%;
    height: 100vh;
  }
}

/*.huracan, .LS, .Motorsport{
  color: black;
}*/

.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.Find .home-content{
  margin-top: -110px;
}

.home .home-content .text-1{
    margin-top: 0;
    padding-top: 0;
    font-size: 60px;
    font-weight: 600;
}


.aventador .home-content  .text-1{
    font-size: 35px;   
}

.aventador .home-content  .text-1, .urus .home-content  .text-1,
.huracan .home-content  .text-1, .LS .home-content  .text-1,
.Motorsport .home-content  .text-1{
  color: black;
}

.urus .home-content  .text-1,
 .LS .home-content  .text-1,
.Motorsport .home-content  .text-1{
  font-size: 35px;
}

.huracan .home-content  .text-1{
  font-size: 35px;
}

.aventador .home-content  .text-2, .urus .home-content  .text-2,
.huracan .home-content  .text-2, .LS .home-content  .text-2,
.Motorsport .home-content  .text-2{
  color: black;
}


.LS .home-content{
  width: 7000px;
}


.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #FFE55C;
    font-weight: 500;

}



.main .home .home-content .type{
  display: flex;
  margin-top: 5px;
}

.home .home-content .type .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .type .options span{
    font-size: 40px;
    color: #FFE55C;
    font-weight: 500;
}


.main .home .home-content .type .options{
  margin-left: 0px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
} 

.options li{
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide{
  100% {
    top: -360px;
  }
}


.options li span{
  position: relative;
  margin: 5px 0;
  line-height: 70px;
}


.options li span:after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background-size: 100vw auto;
  


  border-left: 2px solid #FFE55C;
  animation: typing 3s steps(10) infinite;

}

@keyframes typing{
  40%, 60%{
    left: calc(100% + 10px);
  }

  100%{
    left: 0;
  }
}


section{
  position: relative;
} 

section .home a{
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 25px;
    padding: 8px 20px;
    bottom: 10px;
    transform: translateX(50%, 50%);
    margin: auto;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid #000;
    transition: all 0.3s ease;
}
section .home a:hover{
    color: black;
    background: white;
}






.last{
  padding: 50px;
}
.last .text{
  text-align: center;
  color: black;
  font-size: 2vw;

}

.last .btn{
  text-align: center;
  color: black;
  font-size: 50px;
  margin: auto;
}



/* Menu for small screen */

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 1250px){


.aventador .home-content  .text-1, .urus .home-content  .text-1,
.huracan .home-content  .text-1, .LS .home-content  .text-1,
.Motorsport .home-content  .text-1{
  font-size: 30px;
  }
}



@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }

.aventador .home-content  .text-1, .urus .home-content  .text-1,
.huracan .home-content  .text-1, .LS .home-content  .text-1,
.Motorsport .home-content  .text-1{
  font-size: 20px;
  }
  
}
@media (max-width: 920px) {
  nav:hover{
     position: fixed;
  }
  nav .menu-btn i{
    display: block;
  }


  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  

  #click:checked ~ nav{
    background-color: #1b1b1b;
  }

  #click:checked{
    overflow: hidden;
  }

  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    
  }
  #click:checked ~ ul{
    left: 0;

  }


 

  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #FFE55C;
  }

   #click:checked ~ nav{
    position: fixed;
    background-color: #1b1b1b;
  }


  /* 1ST SECTION */

  video{
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
}

  /*section:nth-child(1){
  background: url("images/HomeFindLamboMobile.png") no-repeat center;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
  }*/
  .Find .home-content {
    width: 800px;
  }
  .Find .home-content .text-1{
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
  }

  .Find .home-content .text-3{
    font-size: 20px;
  }

   .Find .home-content .text-3 {
    text-align: center;
   }

  .aventador .home-content {
    margin-left: -40px;
      }
  .aventador .home-content .text-1, .urus .home-content .text-1, 
  .huracan .home-content .text-1{
    
    margin-top: -120px;
    
    font-size: 20px;
  }

  .aventador .home-content .text-2{
    font-size: 70px;
  }

  

  .urus .home-content, .huracan .home-content, .LS .home-content, .Motorsport .home-content{
    margin-left: -40px;
    
  }
  .home-content .text-1{
   
    margin-top: -120px;
    
    font-size: 20px;
  }

  .home-content .text-2{
    font-size: 70px;
  }

 


  .LS .home-content .text-2{
    
    font-size: 50px;
  
  }
  
  .Motorsport .home-content .text-2{
    font-size: 60px;
  }





}



@media (max-width: 800px){


.aventador .home-content  .text-1, .urus .home-content  .text-1,
.huracan .home-content  .text-1, .LS .home-content  .text-1,
.Motorsport .home-content  .text-1{
  font-size: 20px;
  }
  .aventador .home-content  .text-2, .urus .home-content  .text-2,
.huracan .home-content  .text-2, 
.Motorsport .home-content  .text-2{
  font-size: 60px;
  }



.last .text{
  
  font-size: 16px;
}

}


@media (max-width: 700px){
  .Motorsport .home-content  .text-2{
  font-size: 55px;
  
  }
}
@media (max-width: 600px){
  .last .text{
  
  font-size: 15px;
}

.Motorsport .home-content  .text-2{
  font-size: 40px;
  
  }
}

@media (max-width: 550px){
.last .text{
  
  font-size: 13px;
}


}

@media (max-width: 500px){


.aventador .home-content  .text-1, .urus .home-content  .text-1,
.huracan .home-content  .text-1, .LS .home-content  .text-1,
.Motorsport .home-content  .text-1{
  font-size: 18px;
  }
  .aventador .home-content  .text-1{
    width: 70%;
  }
  .aventador .home-content  .text-2, .urus .home-content  .text-2,
.huracan .home-content  .text-2, 
.Motorsport .home-content  .text-2{
  font-size: 50px;
  }

  .Motorsport .home-content  .text-2{
  font-size: 40px;
  }
  .aventador .home-content  .text-2{
  font-size: 40px;
  }



  .last .text{
  
  font-size: 13px;
}
}




/*section .huracan{
background-image: -webkit-linear-gradient(175deg, #111 45%, white 15%);
  min-height: 100px;
width: 100%;
}*/


footer{
  position: absolute;
  background: #151414;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
  
}

.bottom-details .bottom_text .copyright_text{
 text-align: center;
 margin: auto;
}


footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;

}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
  margin-right: 20px;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #FF0000;
}
.top .media-icons a:nth-child(2):hover{
  color: #FF0000;
  background: #fff;
}



.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ececec;
  line-height: 28px;
}

footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  text-decoration: none;
  
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #202020;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}









@media (max-width: 480px){
  .home .home-content .text-1, .home .home-content .text-3{
    font-size: 10vw;
  }

  .home .home-content{
    max-width: 80vw;
  }


  .aventador .max-width, .urus .max-width,
  .huracan .max-width, .LS .max-width,
  .Motorsport .max-width{
      margin-top: 20vh;
      margin-bottom: 0;
  }

  .LS .max-width,
  .Motorsport .max-width{
      margin-top: 8vh;
      margin-bottom: 0;
  }

  .aventador .home-content  .text-1, .urus .home-content  .text-1,
  .huracan .home-content  .text-1, .LS .home-content  .text-1,
  .Motorsport .home-content  .text-1{
    font-size: 25px;
  }



}


@media (max-width: 360px){
  .aventador .home-content  .text-1, .urus .home-content  .text-1,
  .huracan .home-content  .text-1, .LS .home-content  .text-1,
  .Motorsport .home-content  .text-1{
    font-size: 20px;
  }



  .content .top .logo-details{
    font-size: 15px;
  }

  .footer-text p {
    font-size: 10px;
  }
  .content .link-boxes .box .link_name{
    font-size: 10px;
  }

  footer .content, footer .bottom_text, footer .bottom-details .bottom_text{
    padding: 20px 15px;
  }
}


















